



/* HEADER */


















/* .contact-link:hover, 
.contact-link:focus {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
} */

.contact-list {
        display: flex;
        gap: 40px;
}

/* HERO
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;

}
.hero-name {

        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
    
 
}
.button,
.send-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
background-color: #404BBF
} */

/* SECTION ADVANTAGES */
/* .advantages-section {
        padding: 120px 0
}



.advantages-list {
        display: flex;
        gap: 24px;
}

.list-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
}
.sectionname {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
.team-backround {
background-color: #f4f4fd;
}
.advantages-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
              margin-bottom: 8px;
}
.advantages-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.advantages-li {
        width: calc((100% - 72px) / 4);   
} */

/* SECTION OUR TEAM */
/* .team-section {
    background-color: #F4F4FD;
    padding: 120px 0;

}
.sectionname {
        margin-bottom: 72px;
}

.team-ul {
        display: flex;
        gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-container {
        padding: 32px 0;

}


.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}
.team-pos {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.soc-icons {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;

}
.soc-icons-box {
        width: 40px;
        height: 40px;
        
}

.soc-icon-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
}

.soc-icon-link:hover,
.soc-icon-link:focus {
        background-color: #404bbf; 
}

.icon-fill {
        fill: #f4f4fd;
} */



/* SECTION PORTFOLIO */
/* 
.portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;

}

.portfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}


.portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
       
}


.portfolio-list-item:hover .paragraph-style {
        transform: translateY(0%);
}

.application {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.application-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;

}

.application-scope {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}
.aplication-box {
        position: relative;
        overflow: hidden;
}
.paragraph-style {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} */



/* FOOTER
footer {
    background-color:#2e2f42;
}
.page-footer {
        padding: 100px 0;
}

.footer-container {
     display: flex;
     align-items: baseline;   
}
.footer-logo .logo-part {
    color: #f4f4fd;}
.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-text {
        margin-right: 120px
}

.social-media {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:  #FFF;
        margin-bottom: 16px;
        

}
.soc-icon-link.footer-soc:hover,
.soc-icon-link.footer-soc:focus {
        background-color: #31d0aa;
}

.soc-icons.footer-icons {
        gap: 16px;

}


.subscribe-form {
        margin-left: 80px;
}
.subscribe-paragraph {
        margin-bottom: 16px;
        font-weight: 500; 
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em; 
        color: #ffffff; 
}

.subscribe-mail-form {
        display: flex;
        gap: 24px;

}
.input-subscribe-email {
        width: 264px;
        height: 40px; 
        border: 1px solid #ffffff; 
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;


}

input::placeholder {
        color: #ffffff;

}
.subscribe-button {
        display: flex; 
        min-width: 165px;
        height: 40px; 
        justify-content: center; 
        align-items: center; 
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;

}
.icon-icon-send {
        margin-left:16px  ;
} */
/* MODAL */

/* .backdrop {
position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

}

.modal {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;

}

.backdrop:not (.is-open) .modal  {
transform: translate (-50%, -100%)
}

.modal-button-close {
        display: flex;
        align-items: center; 
        justify-content: center;
        position: absolute;
        padding: 0;
        top: 24px;
        right: 24px; 
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);     

}
.modal-button-close:hover,
.modal-button-close:focus {
        background-color: #404bbf;
        border: none;
        


}

.icon-close-x {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-fill-cl {
        color: black;
}
.modal-button-close:focus .icon-close-x,
.modal-button-close:hover .icon-close-x
 {
        fill: #ffffff;
}
/* .icon-fill-cl:hover,
.icon-fill-cl:focus {
        
        fill: #ffffff;
} */

/* .icon-fill-cl:focus .modal-button-close {
        fill: #ffffff;
} */



.modal-parafraph {

font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.modal-data {
        margin-bottom: 8px; 
}

.form-field {
        margin-bottom: 8px;
}
.form-label {
        font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-wrapper {
        position: relative;
}

.form-input:focus {
        border-color: #4D5AE5;
}

.form-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:hover .form-icon,
.form-input:focus-within + .form-icon {
        fill: #4D5AE5;
}

.form-field.last-field {
        margin-bottom: 16px;
}

.text-area {
        width: 100%;
        border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 360px;
height: 120px;

font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);

border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:focus {
        border-color: #4D5AE5;
}

.check-box {
        margin-bottom: 24px;
}

.last-label {
        font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.privacy-policy {
        margin-right: 8px;
    display: inline-flex;
        align-items: center;
        justify-content: center; 
        fill: transparent; 
        line-height: 1.33;
       
color: #4d5ae5;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .input:checked .privacy-policy {
fill:#F4F4FD;
background-color: #404bbf; 
border: none;

} */

.check-box-v:checked + .last-label >.privacy-policy {
        fill:#F4F4FD;
background-color: #404bbf; 
border: none;
}

.policy-link {
        color: #4d5ae5;
}
 */
